
server/zkdoctor/package-lock.json
.DS_Store
client/model-runner-app/node_modules/
client/model-runner-app/out/
client/model-runner-app/package-lock.json
server/zkdoctor/public/model-runner-app.zip
chain/ezkl/ezkl
chain/contracts/Lock.sol
chain/test/Lock.ts
client/snap/zkdoctor-snap/.editorconfig
client/snap/zkdoctor-snap/.eslintrc.js
client/snap/zkdoctor-snap/.github/CODEOWNERS
client/snap/zkdoctor-snap/.github/workflows/build-lint-test.yml
client/snap/zkdoctor-snap/.github/workflows/create-release-pr.yml
client/snap/zkdoctor-snap/.github/workflows/publish-release.yml
client/snap/zkdoctor-snap/.nvmrc
client/snap/zkdoctor-snap/.prettierrc.js
client/snap/zkdoctor-snap/.vscode/settings.json
client/snap/zkdoctor-snap/.yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
client/snap/zkdoctor-snap/.yarn/releases/yarn-3.2.1.cjs
client/snap/zkdoctor-snap/.yarnrc.yml
client/snap/zkdoctor-snap/LICENSE.APACHE2
client/snap/zkdoctor-snap/LICENSE.MIT0

server/simple-server/.env
server/simple-server/node_modules/
server/graph/zkdoctor/
